html {
    background-color: black;
    text-align: center;
    color: white;
    font-family: Verdana;
}

h1 {
    font-weight: normal;
    font-size: 50px;
    
}

a {
    color: aquamarine;
    font-size: 16px;
    display: block;
    padding-bottom: 20px;
}

h2 {
    font-weight: 300;
    font-size: 42px;
}

footer {
    text-align: right;
    color: gray;
    padding-bottom: 20px;
}
